body {
    background-image: linear-gradient(#1E2751, #141A36, #0A0D1B, #000000);
    height: 900px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    height: 100vh;
}

.title h1 .title h3 {
    text-align: center;
    flex-direction: column;
}

.title h1 {
    margin-bottom: 10px;
    color:#8e93a8;
    font-family: sans-serif;
}

.title h3 {
    margin-top: 5px;
    color:#8e93a8;
    font-family: sans-serif;
}

.controls form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#file-upload {
    color:#8e93a8;
    font-family: sans-serif;
}

#file-upload-title {
    color:#8e93a8;
    font-family: sans-serif;
}

label[for="file-upload"] {
    margin-right: 5px;
    margin-bottom: 0;
    transition: all 0.3s ease;
}

#file-upload {
    background-color: #1E2751;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}
  

button[type="button"] {
    background-color: #1E2751;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
    transition: all 0.3s ease;
}

button[type="button"]:hover {
    margin-left: 5px;
    margin-bottom: 0;
    transform: scale(1.2);
}

